* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

button {
    outline: none;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}